body {
  font-family: monospace;
  margin: 0px;
  padding: 0px;
}

#wrap {
  padding-left: 50%;
}

.sidebar.left { clear: left; margin-top: 20px; }
.verticalSlider { height: 20px }
.rgbLabel { float: left; clear: left; width: 15px; }
.rgbSlider {
  float: left;
  width: 120px;
  height: 8px;
  margin-top: 4px;
  margin-left: 4px;
}

#hueVal, #satVal, #valVal, #redVal, #greenVal, #blueVal {
  float: right;
  clear: right;
  text-align: center;
  width: 16px;
}

#hueVal, #satVal, #valVal {
  display: xnone;
}

.ui-slider .ui-slider-handle {
  margin-left: -4px;
  width: 8px;
  height: 16px;
}

#fgbgContainer {
  margin-top: 4px;
  clear: both;
  height: 22px;
  border: 1px solid black;
  border-top: 0;
}

#foregroundColour, #backgroundColour, #tempColour {
  border: 2px solid black;
  width: 83px;
  height: 20px;
  margin-top: 4px;
  float: left;
}

#tempColour {
  clear: both;
  border-bottom: 1px solid black;
  width: 168px;
}

#foregroundColour, #backgroundColour {
  border: 1px solid black;
  margin: 0;
}

#foregroundColour.active, #backgroundColour.active {
  border-color: white;
}

.applySpread, .applyChange, .cancelChange {
  font-size: 12px;
  margin-top: 4px;
  padding: 2px 4px;
  border: black solid 2px;
  background-color: light-gray;
}

.applyChange {
  float: right;
  clear: right;
}

.applySpread {
  float: left;
  clear: left;
}

#settings {
  clear: both;
  padding-top: 6px;
}

.shortcut {
  font-size: 11px;
  clear: both;
  padding-top: 6px;
  height: auto;
}

.shortcut.first {
  font-size: 13px;
  padding-top: 20px;
}

.shortcut .key, .shortcut .info {
  float: left;
}

.shortcut .key {
  width: 20px;
}

.shortcut .info {
  width: 130px;
}

/* MIDDLE SECTION */

.sidebar, #middle {
position: relative;
top: -20px;
float: left;
}
.sidebar { width: 172px; margin-top: 4px; }

#initZoom, #saveBtn, #tooltype {
  float: left;
  margin: 10px;
}

#initZoom {
  margin-left: 0;
}

#topBar {
  font-size: 11px;
  height: 38px;
}

#title, #hoverCol, #hoverColInfo, #deg, #version, #info, #imageCanvasoords {
  float: left;
  margin: 10px;
}

#hoverCol {
  width: 8px;
  height: 8px;
  border: 2px solid black;
  margin-right: 0;
}

#coords {
  margin: 10px 0;
  line-height: 15px;
  float: right;
}

#coordX, #coordY {
  display: inline-block;
  width: 50px;
  text-align: right;
}

.arrow {
  display: inline-block;
  width: 15px; 
  height: 15px;
  margin-left: 8px;
}

#saveBtn {
  float: right;
}

#imageCanvas, #overlayCanvas, #magnifyCanvas, #pointerCanvas {
  cursor: none;
  display: block;
  line-height: 0;
  position: absolute;
}

#canvasContainer {
  cursor: none;
  position: relative;
}

#tools {
  position: relative;
  left: -1px;
  height: 22px;
}

#row1, #row2 {clear: both;}
.tool {
  overflow: hidden;
  background-color: rgba(128, 128, 128, 0.25);
  color: rgba(0,0,0,0.25);
  border: 2px solid black;
  float: left;
  width: 128px;
  text-align: center;
  margin: 4px 8px 4px 0;
  text-transform: uppercase;
  font-size: 12px;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tool.ready, .tool.clear, .tool.undo, .tool.redo, .cancelChange, .applyChange, .applySpread {
  color: black;
  background-color: rgb(185, 185, 185);
}

.tool.ready.active {
  background-color: white;
}

.tool.ready.active.filled {background-color: rgb(0, 186, 255);}

.tool.ready:hover, .tool.clear:hover, .tool.undo:hover, .tool.redo:hover, .cancelChange:hover, .applyChange:hover, .applySpread:hover {
  cursor: pointer;
}

#palette {
  border: solid 1px black;
  clear: left;
}

.palIndex {
  overflow: hidden;
  text-indent: -20000px;
  float: left;
  border: 0;
  height: 20px;
  border: solid 1px;
}

.palIndex:hover {
  cursor: pointer;
}

.activePal {
  pointer-events: none;
  height: 0;
}

#fgActive, #bgActive {
  position: relative;
  top: -20px;
}

#fgActive {
  border-top: solid 1px white;
  border-bottom: Black;
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 15%, rgba(0,0,0,0) 85%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(15%,rgba(255,255,255,0)), color-stop(85%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 15%,rgba(0,0,0,0) 85%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 15%,rgba(0,0,0,0) 85%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 15%,rgba(0,0,0,0) 85%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 15%,rgba(0,0,0,0) 85%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

#bgActive {
  border: black solid 2px;
}


#cmdList {
  font-family: monospace;
  text-align: center;
  text-transform: uppercase;
}

#outputContainer {
  border: solid 2px black;
}

#output {
  font-family: monospace;
  /* text-overflow: ellipsis; */
  margin: 4px;
  width: 160px;
  white-space: pre;
  /* overflow: hidden; */
  overflow-y: auto;
  height: 460px;
}

#inputContainer {
  margin-top: 20px;
}

#inputContainer .info {
  position: relative;
  top: -12px;
  height: 0;
  font-size: 9.5px;
  text-align: center;
}

#input, #inputContainer {
  width: 166px;
}

#runBtn {
  position: relative;
  clear: both;
  float: right;
}

.hidden {display: none; float: left;}

#footer {
  clear: both;
  margin: 0 auto;
  text-align: center;
}